@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'tw-animate-css';

/* Custom variant for dark mode */
@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Font Families */
  --font-sans: var(--font-jetbrains-mono);
  --font-heading: var(--font-instrument-serif);
  --font-mono: var(--font-jetbrains-mono);

  /* Color system */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Border radius */
  --radius: 0.5rem;
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 1px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;

  --primary: #ee575a; /* Indigo 600 */
  --primary-foreground: #ffffff;

  --secondary: #f4f4f5; /* Zinc 100 */
  --secondary-foreground: #18181b;

  --muted: #f4f4f5;
  --muted-foreground: #71717a; /* Zinc 500 */

  --accent: #f4f4f5;
  --accent-foreground: #18181b;

  --card: #ffffff;
  --card-foreground: #09090b;

  --border: #e4e4e7; /* Zinc 200 */
  --ring: #ee575a;
}

/* Dark mode colors */
.dark {
  --background: #020617; /* Slate 950 - slightly colored black */
  --foreground: #f8fafc;

  --primary: #ee575a; /* Indigo 500 */
  --primary-foreground: #ffffff;

  --secondary: #1e293b; /* Slate 800 */
  --secondary-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #94a3b8; /* Slate 400 */

  --accent: #1e293b;
  --accent-foreground: #f8fafc;

  --card: #0f172a; /* Slate 900 */
  --card-foreground: #f8fafc;

  --border: #1e293b;
  --ring: #ee575a;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

/* Custom utility classes */
.button-highlighted-shadow {
  @apply shadow-[inset_0px_1.5px_0px_rgba(255,255,255,0.15)];
}

.scroll-bar-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-bar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
